{% extends 'iris/main.html' %} {% block content %}
<br />
<div>
  <h2>การแก้ไขฐานข้อมูลบุคลากร</h2>
</div>
<br />
<table class="table table-striped table-bordered table-sm">
        <thead class="thead-dark">
          <tr>
            <th>ชื่อ-นามสกุล</th>
            <th>ตำแหน่ง</th>
            <th>เงินเดือน</th>
            <th>ที่อยู่</th>
            <th>โทรศัพท์</th>
            <th>อีเมล</th>
            <th>วันเกิด</th>
            <th>บันทึก</th>
          </tr>
        </thead>
        {% for r in data %}
        <tr>
          
          <td>{{ r.firstname }} {{ r.lastname }}</td>
          <td>{{ r.position }}</td>
          <td>{{ r.salary }}</td>
          <td>{{ r.address }}</td>
          <td>{{ r.phone }}</td>
          <td>{{ r.email }}</td>
          <td>{{ r.birthday|date:'j F Y' }}</td>
          <td>{{ r.addition_note }}</td>
        </tr>
        {% endfor %}
      </table>
  {% endblock %}
</table>
